.header_logo {
    min-width: 100px;
    height: 60px;
    object-fit: contain;
    margin: 0 30px;
    
}


.header {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height:  50px;
    position:fixed; 
    top: 0;
    background-color: #131921;
    z-index: 100;
    align-items: center;
    padding: 5px 0;
    overflow-x:auto ;
    overflow-y: hidden;
}


.header_search{
    min-width: 500px;
    flex: 1;
    border-radius: 5px;
    height: 35px;
    margin: 0 30px;
    background-color: rgb(255, 254, 254);
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}



.header_search input {
    width: 90%;
    height: 85%;
    margin: 0;
    margin-top: 5px;
    padding: 0px 10px;
    outline: none;
    border: none;
    font-size: 100%;
}


.header_search .fa-magnifying-glass{
    background-color: #CD9042;
    font-size: larger;
    margin: 0;
    aspect-ratio: 1;
    line-height: 100%;
    padding: 10px;
    position: absolute;
    right: 0;
}

.header_nav {
    display: flex;
    width: 400px;
    justify-content: space-around;
    height: 100%;
    margin-right: 20px;
}

.header_option1{
    color: white;
    mix-blend-mode: difference;
}

.header_nav .header_option .header_option2 {
    font-size: smaller;
    font-weight: 600;
    color: white;
}

.header_option{
    
    display: grid;
    justify-content: center;
    
}
.header_optionBasket{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    border: 2px solid rgb(170, 206, 247,0);
    width: 50px;
    cursor: pointer;
    text-decoration: none;
    background-color: #131921;
    
}

.header_optionBasket:hover {
    border: 2px solid rgb(170, 206, 247);
}

.header_optionBasket .fa-basket-shopping{
    color: white;
    font-size: 25px;
    text-decoration: none;
    
}

.header_optionBasket .header_option2{
    font-size:25px;
    color: white;
   
    text-decoration: none !important;
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
   
}
@media (max-width:500px) {
    .header{
        display: block;
        height: auto;
    }
    .header_search{
        min-width: 100px;
        margin: 0 20px;
        
      
    }
    .header_logo{
        position: relative;
        left:25%;
    }
    .header_nav{
        width: 90vw;
        margin:10px;
    }
}