.home{
    display: flex;
    
    justify-content: center;
    
}
.batas-atas {
    height: 100px;
    width: 100%;
}

.home_image{
    width: 100vw;
    z-index: -100;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0.8), rgba(0, 0, 0, 0));
    position: relative;
    
}

button.left{
    position: absolute;
    left: 20px;
    top: 20vh;
    height: 200px;
    width: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    opacity: 0;
    transition: 0.3s;
    font-size: 25px;
    cursor: pointer;
    
    
}
button.right{
    position: absolute;
    right: 20px;
    top: 20vh;
    height: 200px;
    width: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    opacity: 0;
    transition: 0.3s;
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
}

.home:hover button{
    opacity: 0.3;
}

.home:hover button:hover{
    opacity: 1;
}

.home_row {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-around;
}
.recom{
    padding: 0 20px;
    background-color: white;
    margin: 20px;
    margin-top: -75px;
    display: grid;
    border-radius: 20px;
}

.recom h1{
    width: 90%;
    text-align: center;
    z-index: 0;
    
}

.Purchase__recom{
    display: flex;
    width: 95vw;
    flex-wrap: wrap;
    margin-top: 20px;
    z-index: 20;
    
    border-radius: 10px;
    overflow-x: auto;
    justify-content: space-around;
    row-gap: 10px;
}

@media (max-width:500px) {
    .home_image {
        margin-bottom: 100px;
    }
    .batas-atas{
        height: 180px;
    }
}