.product {
    z-index: -1;
    width: 370px;
    height: 500px;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-100px);
    position: relative;
    padding: 10px 0;
    margin: 10px;
}
img{
    width: 150px;
}
.home_row {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}